{% extends 'Estacionamento/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Cadastro de Vaga {% endblock %}
{% block content %}

<div style="text-align:center;">
    <h1> Vaga {{vaga.setor}}_{{vaga.id}}</h1>
    <form class="form-horizontal" method="post" action".">
        {% csrf_token %}

        {{form|crispy}}

        <input type="submit" class="btn btn-secondary" value="Salvar">
        <input type="reset" class="btn btn-secondary" value="Calcelar" onclick="location.href = '{% url 'Estacionamento:main' %}'">
    </form>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>

    {% comment %} https://igorescobar.github.io/jQuery-Mask-Plugin/ {% endcomment %}
    <script>
        $(document).ready(function(){
            $("#id_cpf").mask('000.000.000-00', {reverse: true});
            $("#id_rg").mask('0.000.000', {reverse: true});
            $("#id_cnpj").mask('00.000.000/0000-00', {reverse: true});
            $("#id_data_nascimento").mask('00/00/0000');

            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };
              
            $("#id_telefone").mask(SPMaskBehavior, spOptions);


            $("#enable").click(function (){
                $("input").prop("disabled", false);
            });

            $("#disable").click(function (){
                $("input").prop("disabled", true);
            });
        });
    </script>
{% endblock %}
