{% extends 'Estacionamento/base.html' %}
{% load static %}

{% block title %}Remover Vaga{% endblock %}
{% block titleBody %}Remover Registro{% endblock %}

{% block content %}
<div style="text-align:center;">
    <form method="post" action"post">
        <h3>Deseja remover o registro da vaga: <strong>{{vaga.setor}} - {{vaga.status.value}}</strong></h3>
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Sim, tenho certeza">
        <input type="reset" class="btn btn-secondary" value="Calcelar" onclick="location.href = '{% url 'mainVagas:list' %}'">
    </form>
</div>
{% endblock %}