{% extends 'Estacionamento/base.html' %}
{% load static %}

{% block title %} Detalhes {% endblock %}
{% block titleBody %}Vaga{% endblock %}

{% block content %}
<a style="margin-left:3%" href="{% url 'mainVagas:list' %}"><input type="submit" class="btn btn-secondary" value="Voltar" /></a>
<div style="text-align:center;">
    </br>
    <h2>{{vaga.setor}}_{{vaga.id}}</h2>
    </br>
    <p>Status: {{vaga.status.value}}</p>
    <p>Tipo: {{vaga.tipoVeiculo.value}}</p>
    <p>Data Hora Cadastro: {{vaga.dataHoraCadastro}}</p>
    <p>Data Hora Altereção: {{vaga.dataHoraAlteracao}}</p>
</div>
{% endblock %}


