{% extends 'Estacionamento/base.html' %}
{% load static %}

{% block title %} Lista de Carros {% endblock %}
{% block titleBody %}Carros{% endblock %}

{% block content %}
    <div style="text-align: center">
        <a href="{% url 'mainCarros:create' %}"><input type="submit" class="btn btn-secondary" value="Cadastrar Carro" /></a>
    </div>

    <ul>
        <div class="table-responsive" style="margin-right: 2%">
            {% comment %} <hr>
                <form action="?" method="GET">
                    <input type="text" name="nomeEmpresa" id="" value="{{ request.GET.nome }}" class="p-1 border" autocomplete="off" placeholder="Nome ou parte dele">
                    <input type="text" name="cpf" id="cpf" value="{{ request.GET.cpf }}" class="p-1 border" autocomplete="off" placeholder="CPF ou parte dele">
                    <input type="text" name="cnpj" id="cnpj" value="{{ request.GET.cnpj }}" class="p-1 border" autocomplete="off" placeholder="CNPJ ou parte dele">
                    <a><input type="submit" class="btn btn-secondary" value="Buscar" /></a>
                    <a href="{% url 'mainCarros:list' %}"><input type="submit" class="btn btn-secondary" value="Limpar" /></a>
                </form>
            <hr> {% endcomment %}

            <table class="table table-striped" id="listar-carros">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Placa</th>
                        <th>Data Alteração</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    {% for carro in carro_list %}
                        <tr>
                            <td>{{carro.modelo}}</td>
                            <td>{{carro.marca.value}}</td>
                            <td>{{carro.placa}}</td>
                            <td>{{carro.dataHoraAlteracao}}</td>
                            <td>  <a style="color:black" href="{% url 'mainCarros:update' pk=carro.id %}" title="Editar Carro">Editar</a> 
                                - <a style="color:black" href="{% url 'mainCarros:detail' pk=carro.id %}" title="Vizualizar Carro">Vizualizar</a>
                                - <a style="color:black" href="{% url 'mainCarros:delete' pk=carro.id %}" title="Deletar Carro">Deletar</a></td>
                            </li>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">Nenhum carro registrado.</td>
                        <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </ul>

    <div style="text-align: center">
        <a href="{% url 'Estacionamento:main' %}"><input type="submit" class="btn btn-secondary" value="Voltar" /></a>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>

    {% comment %} https://igorescobar.github.io/jQuery-Mask-Plugin/ {% endcomment %}
    <script>
        $(document).ready(function(){
            $("#cpf").mask('000.000.000-00', {reverse: true});
            $("#cnpj").mask('00.000.000/0000-00', {reverse: true});
        });
    </script>
{% endblock %}
