{% extends 'Estacionamento/base.html' %}
{% load static %}

{% block title %} Lista de Carros {% endblock %}
{% block titleBody %}Carros{% endblock %}

{% block content %}
    <div style="text-align: center">
        <a href="{% url 'mainCarros:create' %}"><input type="submit" class="btn btn-secondary" value="Cadastrar Carro" /></a>
    </div>

    <ul>
        <div class="table-responsive">

            <hr>
                <form action="?" method="GET">
                    <input type="text" name="modelo" id="" value="{{ request.GET.modelo }}" class="p-1 border" autocomplete="off" placeholder="Modelo ou parte dele">
                    <a><input type="submit" class="btn btn-secondary" value="Buscar"/></a>
                    <a href="{% url 'mainCarros:list'%}"><input type="" class="btn btn-secondary" value="Limpar"/></a>
                </form>
            <hr>

            <table class="table table-striped" id="listar-carros">
                <thead>
                    <tr>
                        <th>Está no Estacionamento</th>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Placa</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    {% for carro in carro_list %}
                        <tr>
                            {% if carro.ocupandoVaga == True %}
                                <td>Sim</td>
                            {% else %}
                                <td>Não</td>
                            {% endif %}
                            <td>{{carro.modelo}}</td>
                            <td>{{carro.marca.value}}</td>
                            <td>{{carro.placa}}</td>
                            <td>  <a style="color:black" href="{% url 'mainCarros:update' pk=carro.id %}" title="Editar Carro">Editar</a> 
                                - <a style="color:black" href="{% url 'mainCarros:detail' pk=carro.id %}" title="Vizualizar Carro">Vizualizar</a>
                                - <a style="color:black" href="{% url 'mainCarros:delete' pk=carro.id %}" title="Deletar Carro">Deletar</a></td>
                            </li>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">Nenhum carro registrado.</td>
                        <tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'Estacionamento/paginacao.html' %}
            
            <div style="text-align: center">
                <a href="{% url 'Estacionamento:main' %}"><input type="submit" class="btn btn-secondary" value="Voltar" /></a>
            </div>
        </div>
    </ul>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>

    {% comment %} https://igorescobar.github.io/jQuery-Mask-Plugin/ {% endcomment %}
    <script>
        $(document).ready(function(){
            $("#cpf").mask('000.000.000-00', {reverse: true});
            $("#cnpj").mask('00.000.000/0000-00', {reverse: true});
        });
    </script>
{% endblock %}
