{% extends 'Estacionamento/base.html' %}
{% load static %}

{% block title %} Lista de Clientes {% endblock %}
{% block titleBody %}Clientes{% endblock %}

<meta http-equiv="cache-control" content="no-cache" />

{% block content %}
    <div style="text-align: center">
        <a href="{% url 'mainClientes:create' %}"><input type="submit" class="btn btn-secondary" value="Cadastrar cliente" /></a>
    </div>

    <ul>
        <div class="table-responsive">

            <hr>
                <form action="?" method="GET">
                    <input type="text" name="nome" id="" value="{{ request.GET.nome }}" class="p-1 border" autocomplete="off" placeholder="Nome ou parte dele">
                    <input type="text" name="cpf" id="cpf" value="{{ request.GET.cpf }}" class="p-1 border" autocomplete="off" placeholder="CPF">
                    <a><input type="submit" class="btn btn-secondary" value="Buscar" /></a>
                    <a href="{% url 'mainClientes:list'%}"><input type="" class="btn btn-secondary" value="Limpar"/></a>
                </form>
            <hr>

            <table class="table table-striped" id="listar-vagas">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cidade</th>
                        <th>UF</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    {% for cliente in cliente_list %}
                        <tr>
                            <td>{{cliente.nome}}</td>
                            <td>{{cliente.cpf}}</td>
                            <td>{{cliente.cidade}}</td>
                            <td>{{cliente.uF.value}}</td>
                            <td>  <a style="color:black" href="{% url 'mainClientes:update' pk=cliente.id %}" title="Editar Cliente">Editar</a> 
                                - <a style="color:black" href="{% url 'mainClientes:detail' pk=cliente.id %}" title="Vizualizar Cliente">Vizualizar</a>
                                - <a style="color:black" href="{% url 'mainClientes:delete' pk=cliente.id %}" title="Deletar Cliente">Deletar</a></td>
                            </li>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">Nenhum cliente registrado.</td>
                        <tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'Estacionamento/paginacao.html' %}

            <div style="text-align: center">
                <a href="{% url 'Estacionamento:main' %}"><input type="submit" class="btn btn-secondary" value="Voltar" /></a>
            </div>
        </div>
    </ul>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>

    {% comment %} https://igorescobar.github.io/jQuery-Mask-Plugin/ {% endcomment %}
    <script>
        $(document).ready(function(){
            $("#cpf").mask('000.000.000-00', {reverse: true});
            $("#cnpj").mask('00.000.000/0000-00', {reverse: true});
        });
    </script>
{% endblock %}
